
topbar {
	display: block;
	background-color: #fff;
	height: 2rem;
	margin-bottom: 1rem;
	padding: 1rem;

	i {
		font-size: 1.5rem;
		cursor: pointer;
	}

	.profile-image {
		border-radius: 50%;
		width: 1.5rem;
	}
}
