<div class="login-btn pull-left" *ngIf="!user.isSignedIn" (click)="signInClick.emit()">
	<i class="icon ion-person"></i>
	<span>Login</span>
</div>
<div class="pull-left" *ngIf="user.isSignedIn" (click)="signOutClick.emit()">
	<i class="icon ion-power"></i>
</div>
<div class="welcome" *ngIf="user.isSignedIn">
	<img class="profile-image" src="{{user.imageUrl}}" />
	<span>Hi {{user.name}}!</span>
</div>
<instagram-media class="pull-right" [isSignedIn]="user.isSignedIn" [position]="user.position" (mediaUpdate)="mediaUpdate.emit($event)"></instagram-media>
