
topbar {
	background-color: $topbar-bg-color;
	color: white;
	display: block;
	margin-bottom: 1rem;
	padding: .8rem 2rem;

	i,
	a > i {
		color: white;
		cursor: pointer;
		font-size: 1.5rem;
	}
}

.welcome {
	display: inline-block;
	margin: 0 2rem;
	text-align: center;
}

.login-btn {
	cursor: pointer;
}

.login-btn, .welcome {
	& * {
		vertical-align: middle;
	}
}

.profile-image {
	border: 2px solid white;
	border-radius: 50%;
	width: 2rem;
}
