
body {
	color: #202020;
	background-color: #202020;
	margin: 0;
}

i + span{
	margin-left: .5rem;
}

.pull-left {
	display: inline-block;
}
.pull-right {
	float: right;
}

.map-container {
	padding: 0 13%;
}
